<div id="profile">
  <h5>Username: {{username}}</h5>
  <h5>Email: {{email}}</h5>
  <h5>Gender: {{gender}}</h5>
  <h5>Height: {{height}}cm</h5>
  <h5>Weight: {{weight}}kg</h5>
</div>

<a href="/questionforms">
  <button class="btn btn-primary"> Update profile</button>
</a> 