<form id="fitness-form">
   {{#each questions as |question|}}
    {{#if (ifEquals question.type "number")}}
      <div class="col-md-6 mb-3">
        <label for="{{question.name}}" class="form-label">{{question.question}}</label>
        <input type="number" name="{{question.name}}" class="form-control" id="{{question.name}}" >
      </div>
    {{else}}
      <p>{{question.question}}</p>
      {{#each question.options as |option|}}
        <input type="radio" id="option_{{option.value}}" name="{{question.name}}" value="{{option.value}}">
        <label for="html">{{option.label}}</label><br>
      {{/each}}
    {{/if}}
  {{/each}}

  <button id="submit-btn" type="submit" class="btn btn-primary">Submit</button>
</form>

<script src="./js/question.js"></script>
